---
import ProfessionalExperienceCard from "./professional-experience-card.astro";
import { professionalCareer } from "@/data";
---

<section id="professional-career">
    <h2 class="font-bold">PROFESSIONAL CAREER</h2>

    <ul>
        {
            professionalCareer.map((experience) => (
                <li>
                    <ProfessionalExperienceCard {experience} />
                </li>
            ))
        }
    </ul>
</section>

<style>
    #professional-career {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
    }
</style>