---
import ProjectCard from "./project-card.astro";
import { projects } from "@/data";
---

<section id="projects" class="flex flex-col gap-4">
    <h2 class="font-bold">PROJECTS</h2>

    <ul class="rounded-s-none">
        {
            projects.map((project) => (
                <li>
                    <ProjectCard {project} />
                </li>
            ))
        }
    </ul>
</section>
