---
import { knowledgeCategories } from "@/data";
---

<section id="knowledge" class="flex flex-col gap-3">
    <h2 class="font-bold uppercase">Knowledge</h2>

    <ul class="flex flex-col gap-3">
        {
            knowledgeCategories.map(({ name, items }) => (
                <li>
                    <h3 class="font-bold">{name}</h3>
                    <ul class="flex flex-row gap-3 flex-wrap">
                        {
                            items.map(({ name, slug }) => (
                                <li>
                                    <a href={`https://github.com/search?q=${slug}`} target="_blank" class="underline">{name}</a>
                                </li>
                            ))
                        }
                    </ul>
                </li>
            ))
        }
    </ul>
</section>
